
// Variables
:root {
    --primary-color: #7C3AED;
    --secondary-color: #7021b6;
    --accent-color: #9f8bfa;
    --text-primary: hsl(254, 39%, 11%);
    --text-secondary: #403751;
    --bg-primary: #FBFBFF;
    --bg-secondary: #F3F4F6;
    --border-color: #D1D5DB;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --primary-color: #5212abfe;
    --secondary-color: #7d47fa;
    --accent-color: #C4B5FD;
    --text-primary: #f4f3f6;
    --text-secondary: #a29caf;
    --bg-primary: #07000f;
    --bg-secondary: #0a021a;
    --border-color: #504b63;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}
