// Variables
:root {
  --primary-color: #6d28d9;
  --secondary-color: #5b21b6;
  --accent-color: #8b5cf6;
  --text-primary: #1f2937;
  --text-secondary: #4b5563;
  --bg-primary: #f9fafb;
  --bg-secondary: #f3f4f6;
  --border-color: #e5e7eb;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  /* Layout */
  --header-height: 70px;
  --content-max-width: 1200px;
  --container-padding: 2rem;
  --container-padding-sm: 1rem;
  --radius: 12px;
  --radius-lg: 16px;
  --transition: 0.3s ease;
}

[data-theme="dark"] {
  --primary-color: #662DAA; // A rich, deep purple
  --secondary-color: #4C3575; // A muted, blue-ish purple
  --accent-color: #C77DFF; // A vibrant, pink-ish purple
  --text-primary: #FFFFFF; // White for primary text
  --text-secondary: #B3B3B3; // A light gray for secondary text
  --bg-primary: #1A1D23;//linear-gradient(135deg, #1A1D23 0%, #2F343A 100%); // Gradient background
  --bg-secondary: #2F343A; // A dark gray for secondary background
  --border-color: #5C5C5C; // A medium gray for borders
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}
