// 
// Sections
// 

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;

    a{
        text-decoration: none;
    }
    .resume-section-content {
        width: 100%;
    }
    .subheading{
        font-family: $font-family-base;
        color: $primary;
    }
    .resume-section-content-sills{
        color: $icon-color;
    }
    .img-profile {
        max-width: 5rem;
        max-height: 5rem;
        border: 0.3rem solid fade-out($primary, 0.8);
    }
}

@include media-breakpoint-up(md) {
    section.resume-section {
        min-height: 100vh;
    }
}

@include media-breakpoint-up(lg) {
    section.resume-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
