doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Personal Portfolio')
        meta(name='author' content='Echo Yin')

        title Portfolio - Echo Yin

        link(rel='icon' type='image/x-icon' href='assets/img/favicon.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js' crossorigin='anonymous')
        
        // Dev Icons
        link(href='https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css' rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet' type='text/css')

        // AOS CSS
        link(href='https://unpkg.com/aos@2.3.1/dist/aos.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css' rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Echo Yin
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/Echo.jpg' alt='...')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About Me
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Volunteer Works

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Echo 
                        span.text-primary Yin
                    .subheading.mb-5.mt-3
                        | I'm a 
                        span.typed(data-typed-items='Developer., Software Engineer., Gamer., Pet Lover.')

                    p.lead.mb-5
                        | As someone who truly enjoys gaming and has a keen interest in game development, I've had the opportunity to explore different tech stacks and even pursued a Master's degree in Computer Science at Lakehead University.
                    p.lead.mb-5
                        | Through my involvement in game development and journalism, I've gained valuable insights into the industry, which have helped me develop a genuine appreciation for the complexities of game design and development. 
                    p.lead.mb-5
                        | With my diverse experience in various tech stacks and my ability to effectively communicate and collaborate, I believe I have the potential to embark on a fulfilling journey in the field of game development.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/echoyin0451/' target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/e-choness' target='_blank')
                            i.fab.fa-github
                        a.social-icon(href='https://medium.com/@echoness' target='_blank')
                            i.fab.fa-medium
                        a.social-icon(href='https://twitter.com/_echo_yin' target='_blank')
                            i.fab.fa-twitter

            hr.m-0

            // Experience
            section#experience.resume-section
                .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Game Developer
                            .subheading.mb-3 Rec Room
                            ul.mb-0 
                                li Developed a tool for faster build downloading for our Quality Assurance using C#, MAUI (Xamarin), Azure Cloud Storage and Azure Authentication;
                                li Integrated interactive custom protocols for internal communication tool andbuild pipelines (Azure DevOps, Jenkins);
                                li Added cross-platform functionalities to internal UI framework using C# and Unity;
                                li Maintenance and support of existing infrastructure.
                            p.resume-section-content-sills.fw-light.mt-3
                                | Skills: Unity · Jenkins · Full-Stack Development · Azure DevOps · Java · C#
                        .flex-shrink-0
                            span.text-primary January 2023 - May 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 PointClickCare
                            li Worked closely with senior developer for cloud-based machine learning servicesusing python and Java;
                            li Successfully Resolving 6 security risks and vulnerabilities for the Docker micro-services;
                            li Rapid test frameworks enhancement for five new features on across themachine learning core and API services using Flask, Springboot and SQL Server;
                            li Effectively communicate with a team of ten on work sprint planning and scoring.
                            p.resume-section-content-sills.fw-light.mt-3
                                | Skills: Jenkins · Jira · DevOps · Maven · Spring Boot · Flask · Python (Programming Language) · Machine Learning · Java · Natural Language Processing (NLP) · Docker · Microsoft SQL Server
                        .flex-shrink-0
                            span.text-primary January 2022 - May 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Gaming Content Editor
                            .subheading.mb-3 Gamecores
                            li Responsible for news, translations, previews, reviews and retrospectives, mostly major western RPG titles;
                            li Chronicled several biographies and conducted interviews for outstanding game developers;
                            li Completed English gaming news and article translation with high quality and efficiency;
                            li Maintained energy and enthusiasm in fast-paced environment.
                            p.resume-section-content-sills.fw-light.mt-3
                                | Skills: Social Media · Gaming News · Gaming Journalist · Translation · Content Editing · Gaming
                        .flex-shrink-0
                            span.text-primary September 2018 - September 2019

            hr.m-0

            // Projects
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Projects
                    .container
                        .row
                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-down-right")
                                .card.h-100
                                    a(href='https://www.youtube.com/watch?v=pDqL78mLw1w' target='_blank')
                                        img.card-img-top(src='assets/img/projects/project-vr.jpeg' alt='vr-space')
                                    .card-body
                                        h4.card-title
                                            a(href='https://www.youtube.com/watch?v=pDqL78mLw1w' target='_blank') VR Space
                                        p
                                        | A work-in-progress proof-of-concept for a novel locomotion system for VR. It uses the physical space (previously mapped) around the user to generate the map. Joystick movement or teleporting are not used.
                                        p.resume-section-content-sills.fw-light.mt-3
                                        | Tech Stack: C#, Unity, XR famework
                                        p.mt-3 
                                            span.d-lg-block 
                                                a(href='https://www.linkedin.com/in/jjmontes/' target='_blank')
                                                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/projects/project-vr-space-mentor-jj.jpg' alt='mentor-jj')

                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-down")
                                .card.h-100
                                    a(href='https://medium.com/@echoness/studio-jojo-devlog-part-4-game-design-details-revealed-65f03787b111' target='_blank')
                                        img.card-img-top(src='assets/img/projects/project-cultural-heritage.jpg' alt='cultural-heritage')
                                    .card-body
                                        h4.card-title
                                            a(href='https://medium.com/@echoness/studio-jojo-devlog-part-4-game-design-details-revealed-65f03787b111' target='_blank') Cultural Heritage Jam
                                        p.card-text
                                        | A 2D platformer runner where you could play as an art restorer who run and perform restoration action on the wonderful art pieces from legacies of Mexico, China and Portugal. Let's bring damaged masterpieces back to their former glory.
                                        p.resume-section-content-sills.fw-light.mt-3
                                        | Tech Stack: C#, Unity, FMOD
                                        p.mt-3
                                            span.d-lg-block 
                                                a(href='https://www.linkedin.com/in/miguelnevessounds/' target='_blank')
                                                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/projects/studio-jojo-miguel-neves.jpg' alt='jojo-miguel')
                                                a(href='https://www.linkedin.com/in/paola-de-jes%C3%BAs-robledo-mendoza-3b801b20a/' target='_blank')
                                                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/projects/studio-jojo-paola.jpg' alt='jojo-paola')
                            
                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-down-left")
                                .card.h-100
                                    a(href='https://github.com/e-choness/project-egg' target='_blank')
                                        img.card-img-top(src='assets/img/projects/project-game-engine.png' alt='game-engine')
                                    .card-body
                                        h4.card-title
                                            a(href='https://github.com/e-choness/project-egg' target='_blank') Game Engine Project
                                        p.card-text
                                        | A humble self-taught project exploring the intricacies of game engine architecture and functionality. Utilizing C++ and CMAKE, delve into the world of game development, gaining valuable insights and honing your skills in this fascinating domain.
                                        p.resume-section-content-sills.fw-light.mt-3
                                        | Tech Stack: C++, CMAKE, SDL, tinyxml2

                            .col-lg-4.col-sm-6.mb-4(data-aos='fade-right')
                                .card.h-100
                                    a(href='https://github.com/e-choness/book_cover_project' target='_blank')
                                        img.card-img-top(src='assets/img/projects/project-book-recommendation.jpg' alt='book-recommendation')
                                    .card-body
                                        h4.card-title
                                            a(href='https://github.com/e-choness/book_cover_project' target='_blank') Book Recommender
                                        p.card-text
                                        | A book recommender, which leverages the capabilities of a fine-tuned GPT-2 language model and Vision Transformer. Drawing insights from a diverse dataset of small-sized book covers and descriptions across thirty-three genres, we aim to provide unbiased and personalized recommendations.
                                        p.resume-section-content-sills.fw-light.mt-3
                                        | Tech Stack: Python, Numpy, Pandas, Pytorch, Tensorflow, HTML, CSS, Javascript
                            
                            .col-lg-4.col-sm-6.mb-4(data-aos="zoom-out")
                                .card.h-100
                                    a(href='https://github.com/e-choness/pedestrian_detection_project' target='_blank')
                                        img.card-img-top(src='assets/img/projects/project-pedestrian.jpg' alt='pedestrian-detection')
                                    .card-body
                                        h4.card-title
                                            a(href='https://github.com/e-choness/pedestrian_detection_project' target='_blank') Pedestrian Detection Classification
                                        p.card-text
                                        | A humble demo project focused on pedestrian image analysis. Through the extraction of Haar features and experimentation with pattern recognition models, delve into classification tasks. Gain insights into the capabilities of different models in recognizing pedestrians based on their distinct visual patterns.
                                        p.resume-section-content-sills.fw-light.mt-3
                                        | Tech Stack: Python, Numpy, Pandas, Pytorch, Tensorflow, Scikit-learn
                            
                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-left")
                                .card.h-100
                                    a(href='https://github.com/e-choness/kdd99_intrusion_detection' target='_blank')
                                        img.card-img-top(src='assets/img/projects/project-intrusion-detection.jpg' alt='intrusion-detection')
                                    .card-body
                                        h4.card-title
                                            a(href='https://github.com/e-choness/kdd99_intrusion_detection' target='_blank') Intrusion Detection Classification
                                        p.card-text
                                        | A academic demo project showcasing the application of feature selection methods on the KDD99 intrusion dataset. Through the utilization of Random Forest and Support Vector Machine algorithms, gain insights into effective feature selection techniques for improving intrusion detection performance.
                                        p.resume-section-content-sills.fw-light.mt-3
                                        | Tech Stack: Python, Numpy, Pandas, Scikit-learn, kdd-99-dataset

                            .col-lg-4.col-sm-6.mb-4(data-aos='fade-up-right')
                                .card.h-100
                                    a(href='https://github.com/e-choness/feature_extraction_cuda_elm' target='_blank')
                                        img.card-img-top(src='assets/img/projects/project-cuda.jpg' alt='project-cuda')
                                    .card-body
                                        h4.card-title
                                            a(href='https://github.com/e-choness/feature_extraction_cuda_elm' target='_blank') Cuda Extreme Learning Machine
                                        p.card-text
                                        | A academic demo project focused on enhancing the performance of image features extracted from the CIFAR-10 dataset. By implementing an Extreme Learning Machine using CUDA C, explore the potential for accelerated computation and improved results in image classification tasks.
                                        p.resume-section-content-sills.fw-light.mt-3
                                        | Tech Stack: Cuda C, Python, Numpy, Pandas, Scikit-learn, Tensorflow, Cifar-10

                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-up")
                                .card.h-100
                                    a(href='https://github.com/e-choness/e-choenss.github.io' target='_blank')
                                        img.card-img-top(src='assets/img/projects/project-portfolio.jpg' alt='portfolio')
                                    .card-body
                                        h4.card-title
                                            a(href='https://github.com/e-choness/e-choenss.github.io' target='_blank') Portfolio Website
                                        p.card-text
                                        | Welcome to my portfolio website, crafted from a Resume template by Start Bootstrap. With the aid of advanced bootstrap snippets and third-party animation plugins, my humble site comes to life, showcasing my work in a captivating and engaging manner.
                                        p.resume-section-content-sills.fw-light.mt-3
                                        | Tech Stack: PUG, SCSS, NPM, HTML, CSS, Javascript, Bootstrap, Typed, AOS

                            
                            .col-lg-4.col-sm-6.mb-4(data-aos="fade-up-left")
                                .card.h-100
                                    a(href='https://github.com/e-choness/WebGIS-Application-for-House-Discovery')
                                        img.card-img-top(src='assets/img/projects/project-gis.jpg' alt='rental-discovery')
                                    .card-body
                                        h4.card-title
                                            a(href='https://github.com/e-choness/WebGIS-Application-for-House-Discovery') WebGIS Rental Discovery
                                        p.card-text
                                        | A full-stack demo project designed to assist you humbly in finding and comparing local rentals. Leveraging WebGIS technology, maven, Flask, and the native framework LayUI, explore a user-friendly web application that simplifies the rental search process, making it effortless and efficient.
                                        p.resume-section-content-sills.fw-light.mt-3
                                        | Tech Stack: Java, Python, Redis, Maven, Web GIS, LayUI, HTML, CSS, Javascript, JSON
            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Lakehead University
                            .subheading.mb-3 Master of Science
                            div Computer Science
                            p   
                                | GPA: 3.86
                            p.lead
                                | Relevant Coursework:
                                li Machine Learning
                                li Deep Learning
                                li Pattern Recognition
                                li Big Data
                                li Natural Language Processing
                            p.lead
                                | Activities and societies: 
                            p
                                | A consistent volunteer for multiple campus events, clubs and departments.
                        .flex-shrink-0
                            span.text-primary September 2020 - May 2023

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-cplusplus-plain-wordmark
                        li.list-inline-item
                            i.devicon-csharp-plain-wordmark
                        li.list-inline-item
                            i.devicon-python-plain-wordmark
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-html5-plain-wordmark
                        li.list-inline-item
                            i.devicon-css3-plain-wordmark
                        li.list-inline-item
                            i.devicon-sass-original
                    .subheading.mb-3 Programming Frameworks & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-unity-original
                        li.list-inline-item
                            i.devicon-dot-net-plain-wordmark
                        li.list-inline-item
                            i.devicon-xamarin-original
                        li.list-inline-item
                            i.devicon-pytorch-original
                        li.list-inline-item
                            i.devicon-numpy-original
                        li.list-inline-item
                            i.devicon-tensorflow-original
                        li.list-inline-item
                            i.devicon-bootstrap-plain
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.devicon-confluence-original
                        li.list-inline-item
                            i.devicon-jira-plain
                        li.list-inline-item
                            i.devicon-azure-plain
                        li.list-inline-item
                            i.devicon-git-plain
                        li.list-inline-item
                            i.devicon-jenkins-plain
                        li.list-inline-item
                            i.devicon-mysql-plain
                        li.list-inline-item
                            i.devicon-sqlite-plain
                    .subheading.mb-3 Strength
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-comments
                            | Open-mind to New Ideas
                        li
                            span.fa-li
                                i.fas.fa-heart
                            | Love Constructive Feedback
                        li
                            span.fa-li
                                i.fas.fa-users
                            | Learning Effective Communication with Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-hat-wizard
                            | Strong Will & Thinking Outside Box

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    // Interests
                    .container
                        .row
                            .col-lg-4.col-sm-6.mb-4
                                .card.h-100
                                    a(href='#')
                                    img.card-img-top(src='assets/img/background/hexagon_1.jpg' alt='')
                                    .card-body
                                        h4.card-title
                                            a(href='#') Project One
                                        p.card-text
                                        | When I'm not immersed in lines of code, I find solace in the realm of games. They transport me to worlds of adventure and imagination, where I can explore, strategize, and connect with friends across virtual landscapes. Gaming provides a much-needed escape from the digital world I often find myself in. 

                            .col-lg-4.col-sm-6.mb-4
                                .card.h-100
                                    a(href='#')
                                    img.card-img-top(src='https://via.placeholder.com/700x400' alt='')
                                    .card-body
                                        h4.card-title
                                            a(href='#') Project Two
                                        p.card-text
                                        | Pets bring an abundance of joy and companionship to my life. Whether it's the excited wag of a dog's tail or the gentle purr of a cat nestled in my lap, their unconditional love reminds me of the simple pleasures that make life truly meaningful.

                            .col-lg-4.col-sm-6.mb-4
                                .card.h-100
                                    a(href='#')
                                    img.card-img-top(src='https://via.placeholder.com/700x400' alt='')
                                    .card-body
                                        h4.card-title
                                            a(href='#') Project Three
                                        p.card-text
                                        | Books are my constant companions, offering a sanctuary from the chaos of everyday life. I lose myself in their pages, traveling to far-off places, meeting fascinating characters, and expanding my knowledge. The touch of a physical book and the scent of its pages bring a sense of grounding in an increasingly digital world.

                            .col-lg-4.col-sm-6.mb-4
                                .card.h-100
                                    a(href='#')
                                    img.card-img-top(src='https://via.placeholder.com/700x400' alt='')
                                    .card-body
                                        h4.card-title
                                            a(href='#') Project Four
                                        p.card-text
                                        | But it is in the embrace of nature that I find true peace. Whether I'm hiking through serene forests or simply basking in the sunlight, the beauty of the natural world rejuvenates my spirit. I am acutely aware of the urgent need to protect and preserve our environment, and I strive to do my part by living a low-carbon life and reducing waste wherever possible.

                            .col-lg-4.col-sm-6.mb-4
                                .card.h-100
                                    a(href='#')
                                    img.card-img-top(src='https://via.placeholder.com/700x400' alt='')
                                    .card-body
                                        h4.card-title
                                            a(href='#') Project Five
                                        p.card-text
                                                | In a world that often values excess and constant consumption, I have found contentment in simplicity. Through my love for games, pets, books, and the outdoors, I have discovered a rich tapestry of experiences that nourish my soul. Guided by my commitment to living sustainably, I hope to inspire others to embrace a minimalist lifestyle and join me in protecting the beauty of our planet.

                            .col-lg-4.col-sm-6.mb-4
                                .card.h-100
                                    a(href='#')
                                    img.card-img-top(src='https://via.placeholder.com/700x400' alt='')
                                    .card-body
                                        h4.card-title
                                            a(href='#') Project Six
                                        p.card-text
                                                | In a world that often values excess and constant consumption, I have found contentment in simplicity. Through my love for games, pets, books, and the outdoors, I have discovered a rich tapestry of experiences that nourish my soul. Guided by my commitment to living sustainably, I hope to inspire others to embrace a minimalist lifestyle and join me in protecting the beauty of our planet.
            
            hr.m-0

            // Volunteer Works
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Volunteer Works
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Game Developer
                            .subheading.mb-3 Rec Room
                            ul.mb-0 
                                li Developed a tool for faster build downloading for our Quality Assurance using C#, MAUI (Xamarin), Azure Cloud Storage and Azure Authentication;
                                li Integrated interactive custom protocols for internal communication tool andbuild pipelines (Azure DevOps, Jenkins);
                                li Added cross-platform functionalities to internal UI framework using C# and Unity;
                                li Maintenance and support of existing infrastructure.
                            p.resume-section-content-sills.fw-light.mt-3
                                | Skills: Unity · Jenkins · Full-Stack Development · Azure DevOps · Java · C#
                        .flex-shrink-0
                            span.text-primary January 2023 - May 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 PointClickCare
                            li Worked closely with senior developer for cloud-based machine learning servicesusing python and Java;
                            li Successfully Resolving 6 security risks and vulnerabilities for the Docker micro-services;
                            li Rapid test frameworks enhancement for five new features on across themachine learning core and API services using Flask, Springboot and SQL Server;
                            li Effectively communicate with a team of ten on work sprint planning and scoring.
                            p.resume-section-content-sills.fw-light.mt-3
                                | Skills: Jenkins · Jira · DevOps · Maven · Spring Boot · Flask · Python (Programming Language) · Machine Learning · Java · Natural Language Processing (NLP) · Docker · Microsoft SQL Server
                        .flex-shrink-0
                            span.text-primary January 2022 - May 2022

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Gaming Content Editor
                            .subheading.mb-3 Gamecores
                            li Responsible for news, translations, previews, reviews and retrospectives, mostly major western RPG titles;
                            li Chronicled several biographies and conducted interviews for outstanding game developers;
                            li Completed English gaming news and article translation with high quality and efficiency;
                            li Maintained energy and enthusiasm in fast-paced environment.
                            p.resume-section-content-sills.fw-light.mt-3
                                | Skills: Social Media · Gaming News · Gaming Journalist · Translation · Content Editing · Gaming
                        .flex-shrink-0
                            span.text-primary September 2018 - September 2019
                    

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // AOS JS
        script(src='https://unpkg.com/aos@2.3.1/dist/aos.js') 

        //Typed JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.16/typed.umd.js') 

        // Core theme JS
        script(src='js/scripts.js')
