//
// Global
//

html {
  scroll-behavior: smooth;
}

body {
  padding-top: $navbar-base-height;
  color: $gray-600;
}

@include media-breakpoint-up(lg) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1 {
  text-transform: uppercase;
  line-height: 1;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

footer{
    background-color: $gray-800;
    color: $lavender;
}

.subheading {
  font-family: $headings-font-family;
  font-weight: 500;
  font-size: 1.5rem;
  span {
    color: $gray-800;
  }
}
