// Utility classes
.text-center {
  text-align: center;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.color-secondary {
  color: var(--text-secondary);
}
.is-hidden {
  display: none;
}
